<div class="modal-header">
    <h4 class="modal-title pull-left">Register new Account</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form-horizontal" #registerForm="ngForm">
        <div class="col-sm-9 col-sm-offset-3">
            <div class="message-text text-danger" *ngIf="fullnameRegister.touched && fullnameRegister.value.length < 4">
                fullname is required
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Fullname
                <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <input type="text" name="fullname" ngModel class="form-control" placeholder="Name display" #fullnameRegister="ngModel" required>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3">
            <div class="message-text text-danger" *ngIf="emailRegister.touched && (emailRegister.invalid || emailRegister.value.length > 45)">
                Must be email, required and less than 45 character
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email
                <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <input type="email" name="email" ngModel class="form-control" email="true" placeholder="Email" #emailRegister="ngModel" required>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3">
            <div class="message-text text-danger" *ngIf="passConfirmRegister.touched && passRegister.value.length <4">
                Password at least 4 character
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Password
                <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <input type="password" name="password" ngModel class="form-control" placeholder="Password" #passRegister="ngModel" required>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3">
            <div class="message-text text-danger" *ngIf="passConfirmRegister.touched && (passConfirmRegister.value != passRegister.value)">
                Password and Confirm password aren't same
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Comfirm Password
                <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <input type="password" name="confirmPassword" ngModel class="form-control" placeholder="Password" #passConfirmRegister="ngModel"
                    required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" name="gender" ngModel value="Male">Male</label>
                <label class="radio-inline">
                    <input type="radio" name="gender" ngModel value="Female">Female</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <!-- <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button> -->
                <button type="button" class="btn btn-success" [disabled]="!registerForm.valid" (click)="doRegister()">Register</button>
            </div>
        </div>
    </form>
</div>