<div class="container">
    <div class="row">
        <button class="btn btn-primary" id="btn_new_topic" (click)="openNewPostsModal()">New Topic</button>
    </div>
    <!-- <div *ngIf="arrPost">
        <div *ngFor="let post of arrPost; let i = index">
            {{post.title}}
            <div [innerHTML]="post.content"></div>
        </div>

    </div> -->
    <div class="row list-post">
        <div class="list-group" *ngFor="let post of arrPost; let i = index">
            <a routerLink="/post/detail/{{post._id}}" class="list-group-item ">
                <h4 class="list-group-item-heading">{{post.title}}</h4>
                <p class="list-group-item-text">...</p>
                <i>{{post.user.fullname}}</i>
            </a>
        </div>

        <div class="pagination">
            <div>
                <ul class="pagination pagination-lg" *ngFor="let index of pagination">
                    <li>
                        <button class="btn btn-default" (click)="changePagination(index - 1)">{{index}}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <progressbar [value]="55"></progressbar>
        </div>
        <div class="col-sm-4">
            <progressbar [value]="22" type="warning" [striped]="true">22%</progressbar>
        </div>
        <div class="col-sm-4">
            <progressbar max="200" [value]="166" type="danger" [striped]="true" [animate]="true">
                <i>166 / 200</i>
            </progressbar>
        </div>
    </div>

</div>