.unread-count{
    position: relative
}
.unread-count span {
    position: absolute;
    right: 0;
    top: 15px;
    left: 17px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
}