.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.time{
    width : 50px;
    height: 50px;
    margin: 5px;
    float: right; 
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: #E8A930;
}
audio{
    width: 30%;
    float: left;
    margin-bottom: 20px;
}

input[type ="text"]{
    font-size: 20px;
}

.word{
    clear: left;
}

.image{
    float:left;
    width: 20%;
    height: 200px;
    border: 1px solid black
    /* border: 1px solid black */
}

.image img{
    width: 200px;
    height: 150px;
    max-width: 100%;
    display: block;
    margin:auto;
}

.content{
    float: left;
    width: 90%;
    /* border: 1px solid black */
}
.bold {
    font-weight: bold;
}