<div class="container">
    <h4>
        <a routerLink="/home">Home</a> /
        <a routerLink="/home">General Discussion</a>
    </h4>
    <div class="row">
        <div *ngIf="postRes" class="col-sm-12">
            <div class="title">
                <h3>
                    <b>{{postRes && postRes.title?postRes.title: ""}}</b>
                </h3>
            </div>
            <div class="content">
                <div [innerHTML]="postRes.content"></div>
            </div>
            <div class="meta text-right">


                <span class="posted-on">
                    <a href="#" rel="bookmark">
                      <time>{{postRes.create_at | date:'yyyy-MM-dd HH:mm a'}}</time>
                    </a>
                </span>
                <span class="byline"> bởi
                    <span class="author">
                        <a  href="#">{{postRes.user.fullname}}</a>
                    </span>
                </span>
            </div>

        </div>

    </div>
    <div class="row">
        <h3>Comments</h3>
    </div>
    <div>
        <comment-partial [postId]="postId"></comment-partial>
    </div>
</div>