<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-3" style="border: 1px solid black">
            <div class="gallery-item">
                <div class="image">
                    <img src="http://600tuvungtoeic.com/template/english/images/lesson/contracts.jpg" />
                </div>
                <div class="content-gallery">
                    <h3>1-Contracts</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3" style="border: 1px solid black">
            <div class="gallery-item">
                <div class="image">
                    <img src="http://600tuvungtoeic.com/template/english/images/lesson/marketing.jpg" />
                </div>

                <div class="content-gallery">
                    <h3>2-Contracts</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3" style="border: 1px solid black">
            <div class="gallery-item">
                <div class="image">
                    <img src="http://600tuvungtoeic.com/template/english/images/lesson/warranties.jpg" />
                </div>

                <div class="content-gallery">
                    <h3>3-Contracts</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3" style="border: 1px solid black">
            <div class="gallery-item">
                <div class="image">
                    <img src="http://600tuvungtoeic.com/template/english/images/lesson/business_planning.jpg" />
                </div>

                <div class="content-gallery">
                    <h3>4-Contracts</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3" style="border: 1px solid black">
            <div class="gallery-item">

                <div class="image">
                    <img src="http://600tuvungtoeic.com/template/english/images/lesson/business_planning.jpg" />
                </div>

                <div class="content-gallery">
                    <h3>4-Contracts</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3" style="border: 1px solid black">
            <div class="gallery-item">
                <div class="image">
                    <img src="http://600tuvungtoeic.com/template/english/images/lesson/business_planning.jpg" />
                </div>

                <div class="content-gallery">
                    <h3>4-Contracts</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-3" style="border: 1px solid black">
                <div class="gallery-item">
                    <div class="image">
                        <img src="http://600tuvungtoeic.com/template/english/images/lesson/contracts.jpg" />
                    </div>
                    <div class="content-gallery">
                        <h3>1-Contracts</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3" style="border: 1px solid black">
                <div class="gallery-item">
                    <div class="image">
                        <img src="http://600tuvungtoeic.com/template/english/images/lesson/marketing.jpg" />
                    </div>
    
                    <div class="content-gallery">
                        <h3>2-Contracts</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3" style="border: 1px solid black">
                <div class="gallery-item">
                    <div class="image">
                        <img src="http://600tuvungtoeic.com/template/english/images/lesson/warranties.jpg" />
                    </div>
    
                    <div class="content-gallery">
                        <h3>3-Contracts</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3" style="border: 1px solid black">
                <div class="gallery-item">
                    <div class="image">
                        <img src="http://600tuvungtoeic.com/template/english/images/lesson/business_planning.jpg" />
                    </div>
    
                    <div class="content-gallery">
                        <h3>4-Contracts</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3" style="border: 1px solid black">
                <div class="gallery-item">
    
                    <div class="image">
                        <img src="http://600tuvungtoeic.com/template/english/images/lesson/business_planning.jpg" />
                    </div>
    
                    <div class="content-gallery">
                        <h3>4-Contracts</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3" style="border: 1px solid black">
                <div class="gallery-item">
                    <div class="image">
                        <img src="http://600tuvungtoeic.com/template/english/images/lesson/business_planning.jpg" />
                    </div>
    
                    <div class="content-gallery">
                        <h3>4-Contracts</h3>
                    </div>
                </div>
            </div>
    </div>
</div>