<div class="container">

    <div *ngIf="arrTopic">
        <div class="row">
            <div *ngFor="let topic of arrTopic.list; let i = index" class="col-md-2 col-sm-3" style="border: 1px solid black; max-height: 192px;min-height: 192px">
                <div class="gallery-item">
                    <div class="image">
                        <a routerLink="/topic/{{topic._id}}">
                            <img src={{topic.image_url}} />
                        </a>
                    </div>
                    <div class="content-gallery">
                        <h3>{{i + 1}}-{{topic.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>