<div class="modal-header">
    <h4 class="modal-title pull-left">New posts</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <form class="form-horizontal" #newPostsForm="ngForm">
        <div class="message-text text-danger" *ngIf="titlePosts.touched && titlePosts.value.length < 4">
            title at least 4 character
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" name="title" ngModel class="form-control" placeholder="title of posts" #titlePosts="ngModel" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <textarea id="summernote" name="editordata"></textarea>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
            <button type="button" class="btn btn-default" [disabled]="!newPostsForm.valid" (click)="doNewPosts()">New</button>
        </div>
    </form>
</div>